:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.div-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-y: auto;
  flex: 1;
}

.head {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-items: center;
}