:host {
  --_wl-editor_gap: var(--wl-gap, 0.5rem);
  width: 100%;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  padding: var(--_wl-editor_gap);
}

.error {
  margin: auto;
  color: red;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.duration-slider {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

}

.stretch-fill {
  flex: 10 0 0;
}

md-divider {
  margin-bottom: var(--_wl-editor_gap);
}