:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.box-container {
  padding: 20px 40px;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}