:host {
  display: block;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

md-list {
  width: 100%;
}

md-list-item {
  cursor: pointer;
  user-select: none;
}

md-list-item.active {
  --md-list-item-container-color: rgba(45, 130, 220, 0.1);
}

md-list-item.active md-icon {
  color: #2d82dc;
}